DB__USER="postgres"
DB__PASSWORD="postgres"
DB__HOST="pg_db"
DB__PORT=5432
DB__NAME="Alpha-dev"

HASH__ACCESS_SECRET="f443c7cfe006319bd711f12aa0cc58d0"
HASH__REFRESH_SECRET="p212c7cfe114320bd711f12aa0ksoala"
HASH__ALGORITHM="HS256"
HASH__ACCESS_EXPIRE_MINUTES=15
HASH__REFRESH_EXPIRE_DAYS=30

PGADMIN_EMAIL="test@gmail.com"
PGADMIN_PASS="testdb"

S3__ACCESS_KEY="minioadmin"
S3__SECRET_KEY="minioadmin"
S3__PRIVATE_HOST="http://minio:9000"
S3__PUBLIC_HOST="http://localhost:9000"
S3__REGION="ru-central1"

ai__api_key=""
ai__base_url="https://openrouter.ai/api/v1"