version: '3.9'

services:
  backend:
    build:
      context: .
    depends_on:
      - pg_db
    ports:
      - "8001:8000"  
    networks:
      - app-network
    env_file:
      - .env  
    restart: always
    volumes:
      - ./app:/backend/app
    
  pg_db:
    image: postgres:17
    volumes:
      - main_pg_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
    - "5433:5432"

  pgadmin4:
    image: elestio/pgadmin:REL-9_8
    restart: always
    volumes:
    - ./servers.json:/pgadmin4/servers.json
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS}
      PGADMIN_LISTEN_PORT: 8080
    ports:
    - "8082:8080"

volumes:
  main_pg_data:

networks:
  app-network:
    driver: bridge