services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      pg_db:
        condition: service_healthy
    ports:
      - "8001:8000"
    networks:
      - app-network
    env_file:
      - .env  
    restart: always
    volumes:
      - ./app:/backend/app
    
  pg_db:
    image: postgres:17
    volumes:
      - main_pg_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always
    environment:
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: ${DB__NAME}
    ports:
    - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB__USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin4:
    image: elestio/pgadmin:REL-9_8
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS}
      PGADMIN_LISTEN_PORT: 8080
    networks:
      - app-network
    ports:
    - "8082:8080"
    depends_on:
      - pg_db 


volumes:
  main_pg_data:

networks:
  app-network:
    driver: bridge