services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      pg_db:
        condition: service_healthy
      minio:
        condition: service_started
    ports:
      - "8001:8000"
    networks:
      - app-network
    env_file:
      - .env  
    restart: always
    volumes:
      - ./app:/backend/app

  pg_db:
    image: postgres:17
    volumes:
      - main_pg_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always
    environment:
      POSTGRES_USER: ${DB__USER}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      POSTGRES_DB: ${DB__NAME}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB__USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin4:
    image: elestio/pgadmin:REL-9_8
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS}
      PGADMIN_LISTEN_PORT: 8080
    networks:
      - app-network
    ports:
      - "8082:8080"
    depends_on:
      - pg_db 

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${S3__ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3__SECRET_KEY}
    volumes:
      - minio_data:/data
    networks:
      - app-network
    command: server /data --console-address ":9001"


  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - app-network

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    networks:
      - app-network

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml
    networks:
      - app-network


  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - prometheus
      - loki
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  minio_data:
  main_pg_data:
  grafana_data:

networks:
  app-network:
    driver: bridge
