replicaCount: 1

image:
  repository: komotske/alpha-backend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix

env:
  DB__USER: postgres
  DB__PASSWORD: postgres
  DB__NAME: alpha
  DB__HOST: pg-db
  DB__PORT: "5432"